.sliderInfo_container button:hover,
.main_gallery_btn:hover,
.post_btn:hover {
	color: #ffffff;
	background: #0c3d93;
}

.imgmedia:hover {
	opacity: 30%;
}

#lightbox {
	/* (A1) COVERS FULLSCREEN */
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	/* (A2) BACKGROUND */
	background: rgba(0, 0, 0, 0.5);

	/* (A3) CENTER IMAGE ON SCREEN */
	display: flex;
	align-items: center;
	align-items: center;

	/* (A4) HIDDEN BY DEFAULT */
	visibility: hidden;
	opacity: 0;

	/* (A5) SHOW/HIDE ANIMATION */
	transition: opacity ease 0.4s;
}

/* (A6) TOGGLE VISIBILITY */
#lightbox.show {
	visibility: visible;
	opacity: 1;
}

/* (B) LIGHTBOX IMAGE */
#lightbox img {
	/* (B1) DIMENSIONS */
	width: 100%;
	height: 100%;

	/* (B2) IMAGE FIT */
	/* contain | cover | fill | scale-down */
	object-fit: cover;
}

#lightbox img {
	margin: auto;
	width: auto;
	height: auto;
	object-fit: cover;
}

.block {
	/* width: 200px;
height: 120px; */
	position: relative;
	overflow: hidden;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	cursor: pointer;
}
.block > div {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 120px;
	text-align: center;
	overflow: hidden;
	-webkit-transition: top 0.2s ease;
	-moz-transition: top 0.2s ease;
	-o-transition: top 0.2s ease;
	transition: top 0.2s ease;
}

/* .outer img {
	width: 20px;
	height: 20px;
	margin: auto;
} */
.outer {
	margin: auto;
	background-image: url(../images/211818_search_icon.png);
	background-repeat: no-repeat;
	background-size: 100px 100px;
	background-position: center;
}

.outer {
	top: -100%;
	left: 0;
}
.inner {
	top: 0;
	left: 0;
}
.block:hover .outer {
	top: 0;
}
.bg-hover-aqua:hover {
	opacity: 50%;
}
